!<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ICT Academy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
        <header>
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">ICT Academy Training Services</a>
                        </div>
                        <div class="collapse navbar-collapse " id="navbarSupportedContent">
                        <ul class="nav navbar-nav mr-4">
                            <li class="nav-item active"><a class="nav-link " data-value="Home" href="{{ url_for('home') }}">Home</a></li>
                            <li class="nav-item"><a class="nav-link" data-value="About" href="{{ url_for('about') }}">About</a></li>
                            <li class="nav-item"><a class="nav-link" data-value="blog" href="{{ url_for('serv') }}">Services</a></li>
                        </ul>
                     
                </nav>
            </header>
        
          {% block content %}
    
          {% endblock %}
        
    
        <footer>
        <div class="footer-copyright text-center py-3 bg-dark">
                <p class="text-light">© 2019 Copyright: ICT Academy of Kerala<p>
        </div>
    </footer>
    
</body>
</html>