
    {% extends "layout.html" %}
    {% block content %}

           
        <div class="row">
            <div class="col-sm-12">
                <h3 style="color:orange;">Enter your details in the following form</h3>
            </div>
        </div>
        <div class="row">
            <div class="col -sm-12">
                    <form name="RegForm"  onsubmit="validate();">
                            <div class="form-row">
                                    <div class="col -md-6">
                                    <label>Name</label>
                                    <input type="text" class="form-control" placeholder="Name" id="name" required>
                                    </div>
                                    
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                <label for="inputEmail4">Email</label>
                                <input type="email" class="form-control" id="Email" placeholder="Email" required>
                            </div>
                              <div class="form-group col-md-6">
                                <label for="inputPassword4">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Password" required>
                              </div>
                            </div>
                            <div class="form-row">
                                <div class=form-group col-md-6>
                                <label>Phone Number</label>
                                <input type="text" id="Mobile" pattern="[6789]{1}[0-9]{9}" required  > 
                                </div>
                            </div>
                            <div class="form-row">
                                <div class=form-group col-md-6 id="gender" required>
                                    <label>Gender :</label>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="option1" id="Male" value="male">
                                        <label class="form-check-label" for="inlineRadio1">Male</label>
                                          </div>
                                          <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="option2" id="Female" value="female">
                                            <label class="form-check-label" for="inlineRadio2">Female</label>
                                          </div>
                                </div>
                            </div>
                            <div class="form-group">
                              <label for="inputAddress">Address</label>
                              <input type="text" class="form-control" id="Address1" placeholder="Street No, Street Name" required >
                            </div>
                            <div class="form-group">
                              <label for="inputAddress2">Address 2</label>
                              <input type="text" class="form-control" id="Address2" placeholder="Road , Landmark"  required>
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="inputCity">City</label>
                                <input type="text" class="form-control" id="City" required >
                              </div>
                              <div class="form-group col-md-4">
                                <label for="District">District</label>
                                <select id="District" class="form-control" >
                                  <option selected required>Choose...</option>
                                  <option>Kasargod </option>
                                <option>Kannur </option>
                                <option>Wayanad </option>
                                <option>Kozhikode </option>
                                <option>Malapuram</option>
                                <option>Palakkad</option>
                                <option>Thrissur </option>
                                <option>Ernakulam </option>
                                <option>Idukki</option>
                                <option>Kottayam </option>
                                <option>Alapuzha </option>
                                 <option>Pathanamthitta </option>
                                <option>Kollam </option>
                                <option>Trivandrum </option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group">
                                    <button type="submit" class="btn btn-primary" onclikc="validate();">Register</button>
                            </div>
                            
                          </form>
            </div>
        </div>
    </div>    
    
 
    {% endblock %}